body {
    font-family: 'Lato', sans-serif;
    background-color: $gray-800;
    >div>* {
        min-height: calc(100vh - #{$header-height});
    }
}

header {
    text-align: center;
    background-color: $header-color;
    height: #{ $header-height + 4};
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    color: $white;
    font-size: $header-font-size;
    font-weight: bold;
    img {
        object-fit: contain;
        max-height: $header-height;
        margin: 2px;
        position: absolute;
        top: 0;
        right: 0;
    }
    span {
        margin-right: $header-height;
        em {
            font-size: 50%;
            display: block;
        }
    }
}
nav {
    position: absolute;
    right: 0;
    background-color: $header-color;
    box-shadow: -5px 4px 4px 1px rgba(0, 0, 0, 0.25);
    color: $white;
    z-index: 20;
    min-height: calc(100vh - #{$header-height});
}

aside {
    z-index: 10;
    width: $aside-width;
    background-color: $header-color;
    fieldset {
        >button {
            display: none;
        }
        >label,
        >.label {
            >input {
                width: $aside-width;
                height: $aside-width;
                opacity: 0;
                left: 0;
                overflow: hidden;
                position: absolute;
                z-index: 1;
            }
            &:hover,
            &:focus,
            &.active,
            &.dragover {
                >svg {
                    transform: scale(0.95);
                }
                >span {
                    margin-top: $aside-width;
                    transform: rotate(0deg);
                    left: 0;
                }
                &[for=PatchXML] {
                    color: $Onyx-Color1;
                    fill: $Onyx-Color1
                }
                &[for=FixtureGroupXML] {
                    color: $Onyx-Color2;
                    fill: $Onyx-Color2
                }
                &[for=PresetXML] {
                    color: $Onyx-Color3;
                    fill: $Onyx-Color3
                }
                &[for=CuelistXML] {
                    color: $Onyx-Color4;
                    fill: $Onyx-Color4
                }
            }
            &.loaded {
                color: $white;
                fill: $white;
            }
            color: $gray-600;
            fill: $gray-600;
            cursor: pointer;
            margin-bottom: 2rem;
            vertical-align: middle;
            >span {
                transform: rotate(-90deg) translateY($aside-span-transY) translateX(-35%);
                position: absolute;
                width: $aside-width;
                text-align: center;
                transition: 0.25s ease-in-out;
            }
            >svg {
                width: 100%;
                transform: scale(0.5);
                transition: 0.25s ease-in-out;
            }
        }
    }
}

footer {
    position: fixed;
    top: 0;
    margin: 4px;
    left: 0;
    opacity: 0;
    transition: 0.25s ease-in-out!important; 
    &.fade {
        opacity: 1;
    }
}