article {
    color: $white;
    opacity: 0;
    width: calc(100% - #{$aside-width});
    height: calc(100% - #{$header-height});
    overflow-y: scroll;
    transition: 0.5s ease-in-out !important;
    position: absolute;
    left: -100%;
    z-index: 8;
    &#default {
        >svg {
            height: $advertisement-svg-height;
            fill: $white;
            float: left;
        }
        line-height: $advertisement-svg-height;
    }
    &.fade {
        z-index: 9;
        left: $aside-width;
        opacity: 1;
    }
    &#Patch {
        h2 {
            color: $Onyx-Color1;
        }
    }
    &#FixtureGroup {
        h2 {
            color: $Onyx-Color2;
        }
    }
    &#Preset {
        h2 {
            color: $Onyx-Color3;
        }
    }
    &#Cuelist {
        h2 {
            color: $Onyx-Color4;
        }
    }
}