nav,
article form {
    animation: fadeIn 0.5s;
}
article {
    color: $white;
    opacity: 0;
    width: calc(100% - #{$aside-width});
    height: calc(100% - #{$header-height + 4});
    transition: 0.5s ease-in-out !important;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    left: -100%;
    font-size: 90%;
    z-index: 8;
    label {
        margin-bottom: 0;
    }
    &#default {
        >svg {
            height: $advertisement-svg-height;
            fill: $white;
            float: left;
        }
        line-height: $advertisement-svg-height;
    }
    &.fade {
        z-index: 9;
        left: $aside-width;
        opacity: 1;
    }
    .Patch_MultiPart .Patch_ID {
        text-align: right;
    }
    .overflow {
        height: calc(100% - #{$header-height + 4});
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 3px;
    }
    table {
        width:  $table-width;
        thead th {
            position: sticky;
            top: 0;
            background-color: $header-color;
            z-index: 1;
        }
        thead td {
            font-weight: bold
        }
        tr {
            border-bottom: 1px solid $gray-600;
        }
        tbody tr:last-child {
            border-bottom: none
        }
        td {
            padding: 0 .5em;
            &[rowspan] {
                vertical-align: top;
            }
        }
        th,
        td {
            min-width: 1rem;
        }
    }
    &#Patch,
    &#FixtureGroup {
        h2 {
            color: $Onyx-Color1;
        }
    }
    &#FixtureGroup {
        h2 {
            color: $Onyx-Color2;
        }
    }
    &#Preset {
        h2 {
            color: $Onyx-Color3;
        }
    }
    &#Cuelist {
        h2 {
            color: $Onyx-Color4;
        }
    }
}
.Patch {
    & h1,
    & h2 {
        color: $Onyx-Color1;
    }
    & svg {
        fill: $Onyx-Color1;
    }
}
#Patch {
    ::-webkit-scrollbar-thumb {
        background-color: $Onyx-Color1;
    }
    button i {
        background-image: linear-gradient($Onyx-Color1, $Onyx-Color1)!important;
        &:after,
        &:before {
            background-color: $Onyx-Color1!important;
        }
    }
}
.FixtureGroup {
    & h1,
    & h2 {
        color: $Onyx-Color2;
    }
    & svg {
        fill: $Onyx-Color2;
    }
}
#FixtureGroup {
    ::-webkit-scrollbar-thumb {
        background-color: $Onyx-Color2;
    }
    button i {
        background-image: linear-gradient($Onyx-Color2, $Onyx-Color2)!important;
        &:after,
        &:before {
            background-color: $Onyx-Color2!important;
        }
    }
}
.Preset {
    & h1,
    & h2 {
        color: $Onyx-Color3;
    }
    & svg {
        fill: $Onyx-Color3;
    }
}
#Preset {
    ::-webkit-scrollbar-thumb {
        background-color: $Onyx-Color3;
    }
    button i {
        background-image: linear-gradient($Onyx-Color3, $Onyx-Color3)!important;
        &:after,
        &:before {
            background-color: $Onyx-Color3!important;
        }
    }
}
.Cuelist {
    & h1,
    & h2 {
        color: $Onyx-Color4;
    }
    & svg {
        fill: $Onyx-Color4;
    }
}
#Cuelist {
    ::-webkit-scrollbar-thumb {
        background-color: $Onyx-Color4;
    }
    button i {
        background-image: linear-gradient($Onyx-Color4, $Onyx-Color4)!important;
        &:after,
        &:before {
            background-color: $Onyx-Color4!important;
        }
    }
}
#Patch button.is-active i,
#FixtureGroup button.is-active i,
#Preset button.is-active i,
#Cuelist button.is-active i {
    background-image: none!important;
}
span[data-title] {
    position: relative;
    border-bottom: 0.5px dotted $gray-600;
    z-index: 0;
    cursor: help;
}
span[data-title]:hover,
span[data-title]:focus {
    color: $link-color-hover;
    border-color: transparent;
    z-index: 2;
}
span[data-title]:hover::after,
span[data-title]:focus::after {
    content: attr(data-title);
    position: absolute;
    background-color: $header-color;
    top: -2em;
    padding: 1%;
    left: 50%;
    transform: translateX(-85%);
    white-space: nowrap;
    border: 1px;
    border-radius: 1em;
}
.hide {
    display: none;
}
.rowspan {
    visibility: hidden;
}
.switch, .checkbox, .radio {
    -moz-appearance: none;
    -webkit-appearance: none;
}
.Patch_ID,
.Group_ID,
.Patch_FullAddress,
.Preset_Position,
.Preset_Type,
.Preset_Usage {
    width: 6rem;
}
.Patch_Invert {
    width: 3.8rem;
}
.Patch_Fixture,
.Preset_UsedBy,
.Preset_UnUsedBy {
    min-width: 10rem;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}