@keyframes infinite-spinning {
  from {
    fill: $white;
    transform: rotateY(0deg);
  }
  to {
    fill: inherit;
    transform: rotateY(360deg);
  }
}
.working svg {
  animation: infinite-spinning 1.5s steps(1000) infinite alternate;
}
