.M-Touch,
.M-Play {
  & h2 em {
    font-size: 0.6em;
  }
  & svg {
    display: $console-svg-display;
    width: $console-svg-width;
    max-width: 1000px;
    margin: 0.5em auto;
    color: transparent;
    text-shadow: 1px 1px 10px rgba($header-color, 0.5);
    .BankSelector {
      .minus,
      .plus {
        cursor: pointer;
      }
    }
    & h2 em {
      font-size: 0.8em;
    }
    & a {
      color: inherit;
      text-decoration: none;
    }
    .FaderLed {
      fill:currentColor
    }
    .Cuelist-Box {
      font-size:8.36090279px;
      fill:currentColor;
      line-height:125%;
      fill-opacity:1;
      & tspan {
        text-align: center;
        text-anchor: middle;
      }
    }
    .Cuelist-Line {
      text-align:center;
      text-anchor:middle;
      stroke-width:.20902258px
    }
    .BlackAverageButton,
    .BlackLargeButton,
    .BlackSquare,
    .EncoderFader,
    .GreyButton {
      opacity:1;
      stroke-linejoin:round;
      stroke-opacity:1;
      fill-opacity:1;
      stroke:#000;
      stroke-miterlimit:4;
      stroke-dasharray:none;
      stroke-width:1;
      fill:#000
    }
    .GreyButton{
      stroke-dashoffset:0;
      stroke:#515151;
      stroke-linecap:butt;
      fill:#eaeaea
    }
  }
}
.Type-Cuelist {
  color: lighten($CuelistType-Cuelist-From, 20%)
}
.Type-Groupmaster,
.Type-Inhibitive {
  color: lighten($CuelistType-Inhibitive-From, 20%)
}

.Type-Override {
  color: lighten($CuelistType-Override-From, 20%)
}   

.Type-Submaster {
  color: lighten($CuelistType-Groupmaster-From, 20%)
}

.Type-Timecode {
  color: lighten($CuelistType-Timecode-From, 20%)
}

.Type-Chase {
  color: lighten($CuelistType-Chase-From, 20%)
}
.Bank,
.BankSub {
  font-family: 'Digital 7';
}