.M-Touch svg {
  width: 100%;
  color: transparent
}
.Type-Cuelist {
  color: lighten($CuelistType-Cuelist-From, 20%)
}
.Type-Groupmaster,
.Type-Inhibitive {
  color: lighten($CuelistType-Inhibitive-From, 20%)
}

.Type-Override {
  color: lighten($CuelistType-Override-From, 20%)
}   

.Type-Submaster {
  color: lighten($CuelistType-Groupmaster-From, 20%)
}

.Type-Timecode {
  color: lighten($CuelistType-Timecode-From, 20%)
}

.Type-Chase {
  color: lighten($CuelistType-Chase-From, 20%)
}
.Bank {
  font-family: 'Digital 7';
}