.SButton,
.SFader {
  position: relative;
  width: 100%;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  >.content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &:before{
    content: '';
    display: block;
    padding-top: 100%;
  }
}
.SFader {
  background-image: linear-gradient(180deg, transparent, lighten($header-color, 10%), $header-color);
  background-position: 5%;
  background-repeat: repeat-y;
  background-size: 12% auto;
  &:before {
    padding-top: 184%;
  }
  &.Type-Cuelist {
    background-image: linear-gradient(180deg, transparent, lighten($CuelistType-Cuelist-From, 10%), $CuelistType-Cuelist-To);
  }
  &.Type-Inhibitive {
    background-image: linear-gradient(180deg, transparent, lighten($CuelistType-Inhibitive-From, 10%), $CuelistType-Inhibitive-To);
  }
  &.Type-Override {
    background-image: linear-gradient(180deg, transparent, lighten($CuelistType-Override-From, 10%), $CuelistType-Override-To);
  }
  &.Type-Groupmaster {
    background-image: linear-gradient(180deg, transparent, lighten($CuelistType-Groupmaster-From, 10%), $CuelistType-Groupmaster-To);
  }
  &.Type-Timecode {
    background-image: linear-gradient(180deg, transparent, lighten($CuelistType-Timecode-From, 10%), $CuelistType-Timecode-To);
  }
  &.Type-Chase {
    background-image: linear-gradient(180deg, transparent, lighten($CuelistType-Chase-From, 10%), $CuelistType-Chase-To);
  }
}