@page {
  size: A4 portrait;
}
aside,
#default,
footer,
.hide,
.print_hide {
  display: none !important;
}
header {
  height: $header-height;
  line-height: $header-height;
  text-align: right;
  &>a>img {
    filter: invert(1);
    position: absolute;
    top: 0;
    left: 0;
  }
}
table {
  font-size: 8.5pt;
  thead th {
    position: sticky;
    top: 0;
    background-color: $header-color;
  }
  thead td {
    font-weight: bold
  }
  tr {
    border-bottom: 1px solid $gray-600;
    &.masterpart {
      page-break-after: avoid;
    }
    &.multipart {
      page-break-before: avoid;
    }
  }
  tbody tr:last-child {
    border-bottom: none
  }
  td {
    padding: 0 .5em;
  }
  th,
  td {
      vertical-align: top;
      min-width: 1rem;
  }
}

.Patch_ID,
.Group_ID,
.Patch_FullAddress,
.Preset_Position,
.Preset_Type,
.Preset_Usage {
    width: 6rem;
}
.Patch_Invert {
    width: 3.8rem;
}
.Patch_Fixture,
.Preset_UsedBy,
.Preset_UnUsedBy {
    min-width: 10rem;
}

abbr[title] {
  text-decoration: none;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

.flex-container,
.flex-container--row,
.flex-row,
.flex-container--column,
.flex-column,
.flex-container--row-reverse,
.flex-row-reverse,
.flex-container--column-reverse,
.flex-column-reverse,
.d-flex {
  display: unset;
}
header::after {
  content: 'Report printed from https://Report.OnyxFixtureFinder.com \a Page left intentionally blank';
  margin-top: 10rem;
  display: block;
  text-align: center;
  font-weight: bold;
  white-space: pre;
}
article {
  page-break-before: always;
}
.success {
  color: $color-success
}
.primary {
  color: $color-primary
}
.warning {
  color: $color-warning
}
.danger {
  color: $color-danger
}
#Patch,
#FixtureGroup {
    h2 {
        color: $Onyx-Color1;
    }
}
#FixtureGroup {
    h2 {
        color: $Onyx-Color2;
    }
}
#Preset {
    h2 {
        color: $Onyx-Color3;
    }
}
#Cuelist {
    h2 {
        color: $Onyx-Color4;
    }
    h3 {
        font-size: 11pt;
        & span {
          font-size: 8pt;
          font-style: italic;
        }
    }
}
.pop-in {
  & p {
    font-size: 8pt;
    column-count: 3;
  }
}