@import '../../node_modules/knacss/sass/knacss';
@import 'variables';
@import 'font';

$header-height: 60px;
$aside-width: 100px;
$advertisement-svg-height: 400px;

@import '01-structure';
@import '02-content';