@import 'knacss';
@import 'font';

$header-height: 81px;
$aside-width: 100px;
$advertisement-svg-height: 400px;
$Onyx-Color1: #5AC8FA;
$Onyx-Color2: #D4AA08;
$Onyx-Color3: #3A791D;
$Onyx-Color4: #FF2D55;

@media screen {
  @import '01-structure';
  @import '02-content';
  @import 'loader';
}

@media print {
  @import 'print';
}